main{
	margin:0 auto; /* permet de centrer la page*/
	width: 80%;
}
header{
	text-align: center;
}
nav {
	width : 10%;
	border : 1px solid blue;
	display: inline-block;
	margin-right: 5%;
}
section.box1 {
	border: 1px solid blue;
	width: 30%;
	display: inline-block;
	text-align: center;
	margin-right: 2%;
}
section.box2 {
	border: 1px solid blue;
	width: 30%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
footer{
	text-align: center;
}




