body{
    text-align: center;
    background: center no-repeat url("../image/Fond.jpg");
    color: white;
}
h1{
    text-decoration: underline;
    font-weight: bold;
}
li{
    font-size: x-large;
    font-weight: bold;
}

